/* 
    En este archivo se encuentran los estilos de la sección de dirección de la aplicación Chronicle.
    Se ha utilizado el mismo estilo que en la sección de login y registro de usuarios.
*/

.container{
    position: absolute;
    top: 20px;
    width: 300px;
    left: 5vh;
    height: fit-content;
    background-color: #202020d3;
    z-index: 1;
    padding: 20px 30px 100px 20px;
}

.container h1{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.tittle{
    font-size: 1rem;
    font-weight: 'bold';
    margin-bottom: '10px';
    color:white;
}

.element{
    color: white;
    font-size: 0.9rem;
    list-style: none;
    margin-bottom: 1vh;
    
    bleed: 1rem;
}