.radius{
    position: absolute;
    right: 50vw;
    bottom: 30px;
    z-index: 1;
    background-color: #202020d3;
    padding: 10px;
}

.radius b{
    color: white;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: aqua;
    list-style: none;
    font-weight: 500;
    margin-right: 10px;
}