/*
    Este archivo contiene los estilos de la aplicación. 
*/
.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0
}

.desc{
    font-size: 14px;
}

.star{
    color: goldenrod;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 10px;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: rgb(199, 198, 198);
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.logout{
    background-color: tomato;
}

.login{
    background-color: teal;
    margin-right: 10px;
}

.register{
    background-color: slateblue;
}

.buttons, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
}


.layer-controler-container{
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 1;
    background-color: #202020d3;
    padding: 10px;

}

.layer-controler{
    text-decoration: none;
}
.layer-controler-container b{
    color: white;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: aqua;
    list-style: none;
    font-weight: 500;
}